<nav class="sticky top-0 left-0 z-50 flex w-full items-center justify-between border-b border-white/20 bg-black/35 px-8 py-2 shadow-xl backdrop-blur-md">
  <div class="flex items-center gap-3 text-white">
    <img src="/img/FlyAway_Logo.png" alt="FlyAway Logo" class="h-10 w-16 object-contain">
    <span class="text-lg font-semibold">FlyAway</span>
  </div>

  <div class="hidden gap-6 text-sm font-semibold text-white md:flex">
    <a href="index.html" class="hover:text-[#f5a623] transition">
      <i class="fa-solid fa-house mr-1"></i> Home
    </a>

    <a href="PlanNewTrip.html" class="hover:text-[#f5a623] transition">
      <i class="fa-solid fa-plus mr-1"></i> Add Trip
    </a>

    <a href="itenary.html" class="hover:text-[#f5a623] transition">
      <i class="fa-solid fa-suitcase-rolling mr-1"></i> My Trips
    </a>

    <a href="profile.html" class="hover:text-[#f5a623] transition">
      <i class="fa-solid fa-user mr-1"></i> Profile
    </a>
    

    <a href="#" class="hover:text-[#f5a623] transition">
      <i class="fa-solid fa-heart mr-1"></i> Favourites
    </a>

    <a href="#" class="hover:text-[#f5a623] transition">
      <i class="fa-solid fa-bell mr-1"></i> Notifications
    </a>
  </div>
</nav>